.reveal .progress, .reveal .controls {
  background: rgba(0, 0, 0, 0.2);
  color: #f6cc68; }

.reveal .alt-color {
  color: #f6cc68; }

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0; }

.reveal div.slide-background.present[data-background-hash="nullcovernullimg/lighthouse.mp4nullblacknullnullnullnull"] {
  animation: fadeout 40s forwards; }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
