.reveal {

  $smocky_black: rgba(16, 0, 7, 1);
  $raisin_black: rgb(63, 56, 56);
  $purple: rgba(43, 1, 30, 1);
  $green: rgba(59, 96, 71, 1);
  $gold: rgba(246, 204, 104, 1);
  $red: #b82525;

  .progress, .controls {
    background: rgba(0, 0, 0, 0.2);
    color: $raisin_black;
  }

  .alt-color {
    color: $raisin_black;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  div.slide-background.present[data-background-hash="nullcovernullimg/lighthouse.mp4nullblacknullnullnullnull"] {
    animation: fadeout 63s forwards;
  }
  
  div.slide-background[data-background-hash="img/east-wisdom.pngnullnullnullnullwhitenullnullnullnull"] {
    opacity: 0.2;
  }

  .manuscript {
    font-family: xirwen, serif;
    p {
      font-size: 18px;
    }
    h4 {
      font-family: xirwen, serif;
      &::first-letter {
        color: #b82525;
      }
    }
    color: $smocky_black;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  h1, h2, h3, h4, h5, & {
    font-family: missed_glyphs, papaya_sunriseregular, serif;
    color: $raisin_black;
  }

  h3 {
    line-height: 1.7em;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;

  }

  .highlighted {
    color: $red;
  }

  .quiz {
    line-height: 1.7em;

    .question {
      border-radius: 25px;
      border: 3px dashed $smocky_black;
      padding: 20px;
      background-color: white;
      vertical-align: center;
    }

    .answers {
      display: flex;

      div {
        flex: 50%;
        border-radius: 25px;
        border: 3px dashed $smocky_black;
        padding: 10px;
        margin: 50px;
        color: white;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;

        &.manager {
          background-color: #345a23;
        }

        &.specialist {
          background-color: #652b2a;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: inherit;
        }
      }
    }
  }

  .advise {
    h3 {
      padding-top: 100px;
    }
  }

  .yellow-highlight {
    color: #F6CC68
  }

  .idea-number {
    line-height: 1.3;
    font-family: "Comic Sans MS", fantasy;
    color: #cccccca3;
    &::before {
      content: '#';
    }
  }

  .missed-font {
    font-family: 'Comic Sans MS', fantasy;
    font-size: 1.7em;
    font-weight: lighter;
    padding-right: 10px;
  }

  .rotter {
    border-radius: 25px;
    border: 3px dashed $smocky_black;
    padding: 20px;
    margin-bottom: 50px;
  }

  .locus {
    display: flex;
  }

  .feelings-list {

    margin: 0 auto;
    text-align: left;
    padding-left: 350px;

    div::first-letter {
      color: #b82525;
      font-size: 2.5em;
      text-align: left;
    }
  }

  .bar-chart {

    .ct-series-a line {
      stroke: #7E4B3B;
    }

    .ct-series-b line {
      stroke: #40767D;
    }

    .ct-bar {
      stroke-width: 80px;
    }
  }

  .bar-chart.skills {

    .ct-series-a line {
      stroke: #7E4B3B;
    }

    .ct-series-b line {
      stroke: #40767D;
    }

    .ct-bar {
      stroke-width: 30px;

    }

    .ct-legend {
      position: relative;
      z-index: 10;
      list-style-type: none;

      li {
        position: relative;
        padding-left: 50px;
        display: inline-block;
        margin-right: 23px;
      }

      li:before {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
      }

      li.inactive:before {
        background: transparent;
      }

      &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
      }

      & .ct-series-0:before {
        background-color: #7E4B3B;
        border-color: #7E4B3B;
      }
      & .ct-series-1:before {
        background-color: #40767D;
        border-color: #40767D;
      }
    }
  }
  .spin {
    animation: spin 4s linear infinite;
  }

  .manager-bad {
    div {
      position: absolute;

      &.visible:not(.current-fragment) {
        animation: shake 800ms ease infinite;
      }

      &.mgr-word-1 {
        font-size: 48pt;
        top: 190px;
        left: 304px;
      }

      &.mgr-word-2 {
        font-size: 45pt;
        top: 271px;
        left: 654px;
      }

      &.mgr-word-3 {
        font-size: 40pt;
        top: 530px;
        left: 680px;
      }

      &.mgr-word-4 {
        font-size: 36pt;
        top: 340px;
        left: 88px;
      }

      &.mgr-word-5 {
        font-size: 24pt;
        top: 390px;
        left: 618px;
      }

      &.mgr-word-6 {
        font-size: 28pt;
        top: 490px;
        left: 19px;
      }

      &.mgr-word-7 {
        font-size: 22pt;
        top: 275px;
        left: 20px;
      }

      &.mgr-word-8 {
        font-size: 18pt;
        top: 500px;
        left: 770px;
      }

      &.mgr-word-9 {
        font-size: 12pt;
        top: 470px;
        left: 575px;
      }
    }
  }

  .manager-good {
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;

    h4::before {
      content: '-';
      font-family: 'Comic Sans MS', fantasy;
      font-size: 1.7em;
      font-weight: lighter;
      padding-right: 10px;
    }
  }

  .info {

    .social {
      display: flex;
      &>div {
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .twitter {
      img {
        width: 60px;
        padding-right: 10px;
        opacity: 0.9;
      }
    }

    .social-icons {
      padding-bottom: 10px;
    }

    img.small-logo {
      width: 50px;
      margin: 0;
      vertical-align: middle;
      border-radius: 0;
      padding-right: 5px;
    }

    a {
      color: $smocky_black;
    }
  }

  .particles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

    .particles-canvas {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .particles-wrapper {
      position: relative;
      display: inline-block;
      overflow: hidden;
      will-change: transform;
    }
  }

  .sub-description {
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive
  }

}

#fire {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url(../img/fire.gif) no-repeat center center;
  display: none;
}

#credits {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  &, a, a:visited, a:hover {
    color: rgba(0, 0, 0, 0.56)
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  20%, 60% {
    transform: translate(-2px, 0);
  }

  40%, 80% {
    transform: translate(2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

