.reveal {
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  div.slide-background.present[data-background-hash="nullcovernullimg/lighthouse.mp4nullblacknullnullnullnull"] {
    animation: fadeout 40s forwards;

  }

}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

