.reveal .progress, .reveal .controls {
  background: rgba(0, 0, 0, 0.2);
  color: #3f3838; }

.reveal .alt-color {
  color: #3f3838; }

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0; }

.reveal div.slide-background.present[data-background-hash="nullcovernullimg/lighthouse.mp4nullblacknullnullnullnull"] {
  animation: fadeout 63s forwards; }

.reveal div.slide-background.present[data-background-hash="img/east-wisdom.pngnullnullnullnullwhitenullnullnullnull"] {
  opacity: 0.2; }

.reveal .manuscript {
  font-family: xirwen, serif;
  color: #100007;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px; }
  .reveal .manuscript p {
    font-size: 18px; }
  .reveal .manuscript h4 {
    font-family: xirwen, serif; }
    .reveal .manuscript h4::first-letter {
      color: #b82525; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal {
  font-family: papaya_sunriseregular, serif;
  color: #3f3838; }

.reveal h3 {
  line-height: 1.7em; }

.reveal ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }

.reveal .highlighted {
  color: #b82525; }

.reveal .quiz {
  line-height: 1.7em; }
  .reveal .quiz .question {
    border-radius: 25px;
    border: 3px dashed #100007;
    padding: 20px;
    background-color: white;
    vertical-align: center; }
  .reveal .quiz .answers {
    display: -ms-flexbox;
    display: flex; }
    .reveal .quiz .answers div {
      -ms-flex: 50%;
          flex: 50%;
      border-radius: 25px;
      border: 3px dashed #100007;
      padding: 10px;
      margin: 50px;
      color: white;
      -ms-flex-direction: column;
          flex-direction: column;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; }
      .reveal .quiz .answers div.manager {
        background-color: #345a23; }
      .reveal .quiz .answers div.specialist {
        background-color: #652b2a; }
      .reveal .quiz .answers div p {
        margin: 0;
        padding: 0;
        line-height: inherit; }

.reveal .advise h3 {
  padding-top: 100px; }

.reveal .yellow-highlight {
  color: #F6CC68; }

.reveal .idea-number {
  line-height: 1.3;
  font-family: "Comic Sans MS", fantasy;
  color: #cccccca3; }
  .reveal .idea-number::before {
    content: '#'; }

.reveal .missed-font {
  font-family: 'Comic Sans MS', fantasy;
  font-size: 1.7em;
  font-weight: lighter;
  padding-right: 10px; }

.reveal .rotter {
  border-radius: 25px;
  border: 3px dashed #100007;
  padding: 20px;
  margin-bottom: 50px; }

.reveal .locus {
  display: -ms-flexbox;
  display: flex; }
  .reveal .locus img {
    height: 500px; }

.reveal .feelings-list {
  margin: 0 auto;
  text-align: left;
  padding-left: 350px; }
  .reveal .feelings-list div::first-letter {
    color: #b82525;
    font-size: 2.5em;
    text-align: left; }

.reveal .bar-chart .ct-series-a line {
  stroke: #7E4B3B; }

.reveal .bar-chart .ct-series-b line {
  stroke: #40767D; }

.reveal .bar-chart .ct-bar {
  stroke-width: 80px; }

.reveal .bar-chart.skills .ct-series-a line {
  stroke: #7E4B3B; }

.reveal .bar-chart.skills .ct-series-b line {
  stroke: #40767D; }

.reveal .bar-chart.skills .ct-bar {
  stroke-width: 30px; }

.reveal .bar-chart.skills .ct-legend {
  position: relative;
  z-index: 10;
  list-style-type: none; }
  .reveal .bar-chart.skills .ct-legend li {
    position: relative;
    padding-left: 50px;
    display: inline-block;
    margin-right: 23px; }
  .reveal .bar-chart.skills .ct-legend li:before {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px; }
  .reveal .bar-chart.skills .ct-legend li.inactive:before {
    background: transparent; }
  .reveal .bar-chart.skills .ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0; }
  .reveal .bar-chart.skills .ct-legend .ct-series-0:before {
    background-color: #7E4B3B;
    border-color: #7E4B3B; }
  .reveal .bar-chart.skills .ct-legend .ct-series-1:before {
    background-color: #40767D;
    border-color: #40767D; }

.reveal .spin {
  animation: spin 4s linear infinite; }

.reveal .manager-bad div {
  position: absolute; }
  .reveal .manager-bad div.visible:not(.current-fragment) {
    animation: shake 800ms ease infinite; }
  .reveal .manager-bad div.mgr-word-1 {
    font-size: 48pt;
    top: 190px;
    left: 304px; }
  .reveal .manager-bad div.mgr-word-2 {
    font-size: 45pt;
    top: 271px;
    left: 654px; }
  .reveal .manager-bad div.mgr-word-3 {
    font-size: 40pt;
    top: 530px;
    left: 680px; }
  .reveal .manager-bad div.mgr-word-4 {
    font-size: 36pt;
    top: 340px;
    left: 88px; }
  .reveal .manager-bad div.mgr-word-5 {
    font-size: 24pt;
    top: 390px;
    left: 618px; }
  .reveal .manager-bad div.mgr-word-6 {
    font-size: 28pt;
    top: 490px;
    left: 19px; }
  .reveal .manager-bad div.mgr-word-7 {
    font-size: 22pt;
    top: 275px;
    left: 20px; }
  .reveal .manager-bad div.mgr-word-8 {
    font-size: 18pt;
    top: 500px;
    left: 770px; }
  .reveal .manager-bad div.mgr-word-9 {
    font-size: 12pt;
    top: 470px;
    left: 575px; }

.reveal .manager-good {
  margin: 0 auto;
  text-align: left;
  padding-left: 100px; }
  .reveal .manager-good h4::before {
    content: '-';
    font-family: 'Comic Sans MS', fantasy;
    font-size: 1.7em;
    font-weight: lighter;
    padding-right: 10px; }

.reveal .info .social {
  display: -ms-flexbox;
  display: flex; }
  .reveal .info .social > div {
    -ms-flex: 50%;
        flex: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }

.reveal .info .twitter img {
  width: 60px;
  padding-right: 10px;
  opacity: 0.9; }

.reveal .info .social-icons {
  padding-bottom: 10px; }

.reveal .info img.small-logo {
  width: 50px;
  margin: 0;
  vertical-align: middle;
  border-radius: 0;
  padding-right: 5px; }

.reveal .info a {
  color: #100007; }

.reveal .particles-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 500px; }
  .reveal .particles-container .particles-canvas {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); }
  .reveal .particles-container .particles-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    will-change: transform; }

.reveal .sub-description {
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive; }

#fire {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url(../img/fire.gif) no-repeat center center;
  display: none; }

#credits {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center; }
  #credits, #credits a, #credits a:visited, #credits a:hover {
    color: rgba(0, 0, 0, 0.56); }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes shake {
  0% {
    transform: translate(0, 0); }
  20%, 60% {
    transform: translate(-2px, 0); }
  40%, 80% {
    transform: translate(2px, 0); }
  100% {
    transform: translate(0, 0); } }
